body {
  margin: 0;
}

#youtube {
  display: none;
}

*:focus {
  outline: none;
}

.app {
    font-size: 1.25rem;
    font-weight: 300;

    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;

    animation-duration: 30s;
    animation-name: gradient;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes gradient {
  from {
    background-color: #556270;
  }

  to {
    background-color: #FF6B6B;
  }
}
